@import "borderbox";

body, html {
  height: 100%;
  margin: 0;
  font-size: 12px;
}

body {
    background-image: url('../img/vectorized.png');
    background-size: cover;
    background-position: 0 100%;
    background-attachment: fixed;
}

body > header {
    height: 100vh;
    position: relative;

    .arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        bottom: calc(15vh - 25px);
        border-bottom: 10px solid black;
        border-right: 10px solid black;
        mix-blend-mode: soft-light;
        transform: rotate(45deg);
    }
}

.logo {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    padding: 50px;
    mix-blend-mode: soft-light;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.5);
    margin: 4em 0;
    width: 100%;
    min-height: calc(100vh - 8em);

    article {
        max-width: 800px;
        padding: 1em 2em;
    }

    p, h1 {
        color: #555;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 30px;
        line-height: 1.6;
        text-align: center;
    }

    h1 {
        color: rgba(0,0,0,0.5);
        font-size: 50px;
        font-weight: 900;
        line-height: 1;
    }

    a {
        color: #3489ff;
        text-decoration: none;
        font-weight: 900;
    }
}
